
.PortInfo {
    width: 15vw;
    min-width: 288px;
    position: absolute !important;
    z-index: 2;
    top: 52px;
    left: 3px;
    border-radius: 2px;
    background-color: #161616;
    padding: 12px 12px;
    font-size: 12px;
    color: #fff;
}

.PortInfo h2 {
    font-size: 18px;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 3px;
    clear: both;
}

.PortInfo .close-icon {
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 10px;
}

.PortInfo div[data-property] strong {
    float: right;
}
